USE [master]
GO
/****** Object:  Database [crud]    Script Date: 15/04/2017 11:53:22 ******/
CREATE DATABASE [crud]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'crud', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\crud.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'crud_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\crud_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [crud].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [crud]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 15/04/2017 11:53:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[usuario](
	[usuario] [varchar](50) NULL,
	[password] [varchar](50) NULL,
	[email] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
